<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tweakwise\TweakwiseJs\Api\Event\SessionServiceInterface"
                type="Tweakwise\TweakwiseJs\Service\Event\SessionService"/>
    <preference for="Tweakwise\TweakwiseJs\Api\Event\PriceFormatServiceInterface"
                type="Tweakwise\TweakwiseJs\Service\Event\PriceFormatService"/>
</config>
