<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="Tweakwise_TweakwiseJs_Observer_ManageLayoutBlocks"
                  instance="Tweakwise\TweakwiseJs\Observer\ManageLayoutBlocks"/>
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="Tweakwise_TweakwiseJs_Observer_AddJsToPages"
                  instance="Tweakwise\TweakwiseJs\Observer\AddPageAssets"/>
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="Tweakwise_TweakwiseJs_Observer_Event_TriggerAddToCartEvent"
                  instance="Tweakwise\TweakwiseJs\Observer\Event\TriggerAddToCartEvent"/>
    </event>
    <event name="wishlist_add_product">
        <observer name="Tweakwise_TweakwiseJs_Observer_Event_TriggerAddToWishlistEvent"
                  instance="Tweakwise\TweakwiseJs\Observer\Event\TriggerAddToWishlistEvent"/>
    </event>
</config>
